<% provide(:title, 'All users') %>
<h1>All users</h1>

<% # paginate the returned list of users  %>
<%= will_paginate %>

<ul class="users">
  <% # iterate through all users provided by @users and display in the ul tag  %>
  <% @users.each do |user| %>
    <% # render each user delivered from paginate method.
       # formatted from  the _user.html.erb partial.
       # calling @users instance var insteas of 'users' tell Rails they are objects %>
    <%= render @users %>
  <% end %>
</ul>

<% # pagination styling here too  %>
<%= will_paginate %>
