<% provide(:title, 'All users') %>
<h1>All users</h1>

<% # paginate the returned list of users  %>
<%= will_paginate %>

<ul class="users">
  <% # Rails does a few things here:
     #   1. Infers that @users is a list of User objects
     #   2. Iterates over each object (returned by will_paginate, to 30)
     #   3. Renders each object with the _user.html.erb partial  %>
  <%= render @users %>
</ul>

<% # pagination styling here too  %>
<%= will_paginate %>
